<div class="container-fluid">
	<div class="row-fluid">



		<div class="span12">



			<div class="hero-unit">
				<h1> Kaisersch&#252;tzen Trient</h1>
				<h2> Regiment n.1</h2>
				<p> Nel 1921 a Innsbruck è stato rifondato il Kaisersch&#252;tzenbund ed il 10/10/2010 a Trento è stato ricreato il I° reggimento Landeskaisersch&#252;tzen Trient formato da trentini del Welschtirol come in origine.
					Siamo supportati dalla Standsch&#252;tzen Kaserne di Innsbruck.<br>
					Ci proponiamo con la nostra presenza alle manifestazioni storiche in Trentino ed all'astero per ricordare chi eravamo nel contesto geografico, politico, storico ed ideologico di quell'epoca, di quanto abbiamo fatto per la patria di allora e di quanto vogliamo noi oggi non sia dimenticato.
					Nel I° reggimento Trient vi è un gruppo di appassionati che partecipa alle gare di tiro con carabina.<br>
					Alle manifestazioni, alle serate di gala ed alle gare di tiro è d'obbligo la divisa che deve essere portata in ordine e con contegno assoluto ricordando che il Kaisersch&#252;tze durante le manifestazioni come nella vita comune deve comportarsi con estrema correttezza e serietà.<br>
					Il nostro motto storico è "Sieg oder Tod im Alpenrot!".</p>
					<hr>

					<p>Per chi fosse interessato i nostri contatti sono:
						<address>
							<ul>
								<li>telefono: 348 278443181 (Sig Giovanni Girardi)</li>
								<li>email: <a href="mailto:kaiserschutzentrento@gmail.com">kaiserschutzentrento@gmail.com</a></li>
								<li>oppure ci venga a trovare ogni primo mercoledì del mese a .... nella sede degli Schutzen di...</li>
							</ul>
						</address>
					</p>

			</div>
		</div><!--/span-->
    </div><!--/row-->
    <%= render 'layouts/footer' %>
</div><!-- /fluid container-->