<div class="container-fluid">
	<div class="row-fluid">

		<div class=span4>
			<div class="album-unit" style="text-align:center">
				<h1>Sua Altezza Imperiale Martino D&#39;austria Este </h1>
				<p>data</p>
				<table style="width:194px;margin:auto">
					<tr><td align="center" style="height:194px;background:url(https://picasaweb.google.com/s/c/transparent_album_background.gif) no-repeat left"><a href="https://picasaweb.google.com/102371163190818924661/SuaAltezzaImperialeMartinoDAustriaEste?authuser=0&authkey=Gv1sRgCJry0ai83My1Zg&feat=embedwebsite" target="_blank"><img src="https://lh5.googleusercontent.com/-isAh26lHiJ4/Uh5bAxNYjiE/AAAAAAAAADE/m2U7pE2Nz5Q/s160-c/SuaAltezzaImperialeMartinoDAustriaEste.jpg" width="160" height="160" style="margin:1px 0 0 4px;"></a></td></tr><tr><td style="text-align:center;font-family:arial,sans-serif;font-size:11px"><a href="https://picasaweb.google.com/102371163190818924661/SuaAltezzaImperialeMartinoDAustriaEste?authuser=0&authkey=Gv1sRgCJry0ai83My1Zg&feat=embedwebsite" target="_blank" style="color:#4D4D4D;font-weight:bold;text-decoration:none;">Castello Tesino</a></td></tr></table>
				</div>
		</div><!--/span4-->

			<div class=span4>
				<div class="album-unit" style="text-align:center">
					<h1>Festa dei popoli </h1>
					<p>18/08/2013</p>
					<table style="width:194px;margin:auto">
						<tr><td align="center" style="height:194px;background:url(https://picasaweb.google.com/s/c/transparent_album_background.gif) no-repeat left"><a href="https://picasaweb.google.com/102371163190818924661/FestaDeiPopoli?authuser=0&authkey=Gv1sRgCLTAz9qck4vihQE&feat=embedwebsite" target="_blank"><img src="https://lh3.googleusercontent.com/-hYkKcMGkPmc/Uh5b2nCzmME/AAAAAAAAAEk/0jrpGTSOh8k/s160-c/FestaDeiPopoli.jpg" width="160" height="160" style="margin:1px 0 0 4px;"></a></td></tr><tr><td style="text-align:center;font-family:arial,sans-serif;font-size:11px"><a href="https://picasaweb.google.com/102371163190818924661/FestaDeiPopoli?authuser=0&authkey=Gv1sRgCLTAz9qck4vihQE&feat=embedwebsite" target="_blank" style="color:#4D4D4D;font-weight:bold;text-decoration:none;">Presena</a></td></tr></table>
					</div>
			</div><!--/span4-->

				<div class=span4>
					<div class="album-unit" style="text-align:center">
						<h1>Bondo</h1>
						<p>15/6/2013 </p>
						<table style="width:194px;margin:auto">
							<tr><td align="center" style="height:194px;background:url(https://picasaweb.google.com/s/c/transparent_album_background.gif) no-repeat left"><a href="https://picasaweb.google.com/102371163190818924661/BondoMaggio2013?authuser=0&authkey=Gv1sRgCKPYuYDb98-lSg&feat=embedwebsite" target="_blank"><img src="https://lh3.googleusercontent.com/-1Z_s9jjP9Fc/Uh5dSM2JeoE/AAAAAAAAAHE/RCnfl8lHrDA/s160-c/BondoMaggio2013.jpg" width="160" height="160" style="margin:1px 0 0 4px;"></a></td></tr><tr><td style="text-align:center;font-family:arial,sans-serif;font-size:11px"><a href="https://picasaweb.google.com/102371163190818924661/BondoMaggio2013?authuser=0&authkey=Gv1sRgCKPYuYDb98-lSg&feat=embedwebsite" target="_blank" style="color:#4D4D4D;font-weight:bold;text-decoration:none;">Bondo</a></td></tr></table>
						</div>
					</div><!--/span4-->
				</div><!--/row-->

				<div class="row-fluid">

					<div class=span4>
						<div class="album-unit" style="text-align:center">
							<h1>Alpenregion</h1>
							<p>data </p>
							<table style="width:194px;margin:auto">
								<tr><td align="center" style="height:194px;background:url(https://www.gstatic.com/pwa/s/v/lighthousefe_156.01/transparent_album_background.gif) no-repeat left"><a href="https://picasaweb.google.com/102371163190818924661/ALPENREGION?authuser=0&authkey=Gv1sRgCLnb54SNjeXHwgE&feat=embedwebsite" target="_blank"><img src="https://lh6.googleusercontent.com/-Mz3xCHleDb8/UiigjUvJVWE/AAAAAAAAAHk/Qly8ACXeKQ8/s160-c/ALPENREGION.jpg" width="160" height="160" style="margin:1px 0 0 4px;"></a></td></tr><tr><td style="text-align:center;font-family:arial,sans-serif;font-size:11px"><a href="https://picasaweb.google.com/102371163190818924661/ALPENREGION?authuser=0&authkey=Gv1sRgCLnb54SNjeXHwgE&feat=embedwebsite" target="_blank" style="color:#4D4D4D;font-weight:bold;text-decoration:none;">Luogo</a></td></tr>
							</table>
						</div>
				</div><!--/span4-->

				<div class=span4>
					<div class="album-unit" style="text-align:center">
						<h1>Messa commemorativa del beato Carlo I d'Asburgo Lorena</h1>
						<p>19/01/2014 </p>
						<table style="width:194px;margin:auto">
							<tr><td align="center" style="height:194px;background:url(https://www.gstatic.com/pwa/s/v/lighthousefe_156.01/transparent_album_background.gif) no-repeat left"><a href="https://picasaweb.google.com/102371163190818924661/MessaCommemorativaDelBeatoKralIDAsburgLorena?authuser=0&feat=embedwebsite" target="_blank"><img src="https://lh3.googleusercontent.com/-STCHVO6ePaw/UvYFDtkDIyE/AAAAAAAAAm4/_xeMiih29LA/s160-c/MessaCommemorativaDelBeatoKralIDAsburgLorena.jpg" width="160" height="160" style="margin:1px 0 0 4px;"></a></td></tr><tr><td style="text-align:center;font-family:arial,sans-serif;font-size:11px"><a href="https://picasaweb.google.com/102371163190818924661/MessaCommemorativaDelBeatoKralIDAsburgLorena?authuser=0&feat=embedwebsite" target="_blank" style="color:#4D4D4D;font-weight:bold;text-decoration:none;">Martins-sügel</a></td></tr>
						</table>
					</div>
				</div><!--/span4-->

				<div class=span4>
					<div class="album-unit" style="text-align:center">
						<h1>Dalla ricostituzione del I regg.Kaiserschützen Trient al 2012</h1>
						<p> </p>
						<table style="width:194px;margin:auto">
							<tr><td align="center" style="height:194px;background:url(https://www.gstatic.com/pwa/s/v/lighthousefe_177.02/transparent_album_background.gif) no-repeat left"><a href="https://picasaweb.google.com/102371163190818924661/DallaRicostituzioneIReggKaiserschutzenTrientAl2012?authuser=0&feat=embedwebsite" target="_blank"><img src="https://lh4.googleusercontent.com/-rwS3ONNiDPk/Uw2dhUsuFvE/AAAAAAAAAzg/eyZkyjPjk44/s160-c/DallaRicostituzioneIReggKaiserschutzenTrientAl2012.jpg" width="160" height="160" style="margin:1px 0 0 4px;"></a></td></tr><tr><td style="text-align:center;font-family:arial,sans-serif;font-size:11px"><a href="https://picasaweb.google.com/102371163190818924661/DallaRicostituzioneIReggKaiserschutzenTrientAl2012?authuser=0&feat=embedwebsite" target="_blank" style="color:#4D4D4D;font-weight:bold;text-decoration:none;"></a></td></tr>
						</table>
					</div>
				</div><!--/span4-->

	</div><!--/row-->
	<div class="row-fluid">

				<div class=span4>
					<div class="album-unit" style="text-align:center">
						<h1>Kaiserschützen con Sua Altezza Imperiale Carlo II d&#39;Asburgo Este</h1>
						<p>10/05/2014 </p>
						<table style="width:194px;margin:auto"><tr><td align="center" style="height:194px;background:url(https://www.gstatic.com/pwa/s/v/lighthousefe_241.01/transparent_album_background.gif) no-repeat left"><a href="https://picasaweb.google.com/102371163190818924661/KaiserschutzenConSuaAltezzaImperialeCarloIIDAsburgoEste?authuser=0&feat=embedwebsite"target="_blank"><img src="https://lh6.googleusercontent.com/-mFpIPRb2kQY/U3XQRF1ZaXE/AAAAAAAAA24/n2-IHW5RWGE/s160-c/KaiserschutzenConSuaAltezzaImperialeCarloIIDAsburgoEste.jpg" width="160" height="160" style="margin:1px 0 0 4px;"></a></td></tr><tr><td style="text-align:center;font-family:arial,sans-serif;font-size:11px"><a href="https://picasaweb.google.com/102371163190818924661/KaiserschutzenConSuaAltezzaImperialeCarloIIDAsburgoEste?authuser=0&feat=embedwebsite"  target="_blank" style="color:#4D4D4D;font-weight:bold;text-decoration:none;">Mauthen</a></td></tr></table>
					</div>
				</div><!--/span4-->


				<div class=span4>
					<div class="album-unit" style="text-align:center">
						<h1>Kreutzweg</h1>
						<p>29/06/2014 </p>
						<table style="width:194px;margin:auto"><tr><td align="center" style="height:194px;background:url(https://www.gstatic.com/pwa/s/v/lighthousefe_20140616.00_p0/transparent_album_background.gif) no-repeat left"><a href="https://picasaweb.google.com/102371163190818924661/Kreutzweg?authuser=0&feat=embedwebsite" target="_blank"><img src="https://lh5.googleusercontent.com/-c1eIr_u5Gp4/U7USb5m9F-E/AAAAAAAABAM/buD74V0_6q8/s160-c/Kreutzweg.jpg" width="160" height="160" style="margin:1px 0 0 4px;"></a></td></tr><tr><td style="text-align:center;font-family:arial,sans-serif;font-size:11px"><a href="https://picasaweb.google.com/102371163190818924661/Kreutzweg?authuser=0&feat=embedwebsite" target="_blank" style="color:#4D4D4D;font-weight:bold;text-decoration:none;">Pieve Tesino</a></td></tr></table>
						</div>
				</div><!--/span4-->

	</div><!--/row-->
	<%= render 'layouts/footer' %>
</div><!-- /fluid container-->