<div class="container-fluid">
	<div class="row-fluid">



		<div class="span12">



			<div class="hero-unit">
				<h2> I Landessch&#252;tzen-Kaisersch&#252;tzen nella storia:</h2>

					<p> L'anno 1870 vide la nascita dei Landeschützen-Kasierschützen, parti dell'esercito permanente: vennero suddivisi prima in dieci battaglioni di Landessschützen, che appartenevano, a loro volta, all'esercito nazionale austriaco. Seguirono numerosi cambiamenti dell'organizzazione; particolare rilevanza ebbero le modifiche alle norme che regolavano il reclutamento del 1890.
					<br>
					I due reggimenti di Landesschützen (difensori del paese) furono dichiarati truppe di montagna il primo maggio 1906.
					Da quel momento il corpo assunse nuovi compiti e funzioni e cominciò ad addestrarsi per la difesa del paese ad alta quota; il primo maggio 1906 è una data memorabile per la storia delle guerre in montagna.<br>
					Ben presto, nel 1909, si creò un terzo reggimento, di stanza a San Candido/Innichen (Val Pusteria); i comandi degli altri due reggimenti si trovavano a Bolzano/Bozen ed a Trento e già tale dislocazione nel Sudtirolo rivela chiaramente che quelle unità speciali dovevano costituire l'ossatura portante per la salvaguardia del confine da eventuali attacchi dal sud.<br><br>

					Le uniformi, l`intero equipaggiamento, l'addestramento furono adeguati alle esigenze della montagna; segni distintivi delle nuove truppe divennero la stella alpina sulle mostrine, la penna di fagiano di monte sul berretto. I Landesschützen iniziarono subito il loro servizio impratichendosi del terreno di un futuro ipotetico fronte italiano, dal crinale carnico occidentale attraverso le Dolomiti ed il Trentino fino ai giganti ghiacciati dell'Adamello e dell'Ortles ed al confine svizzero. D'estate si esercitavano in arrampicate su roccia e in salvataggi ﬁttizi; d'invemo imparando a sciare, studiando le valanghe, familiarizzandosi con tutti i problemi connessi alla vita ed ai combattimenti ad alta quota.<br><br>

					lnnumerevole è la serie delle località del Sudtirolo e del Trentino, allora austriaco, che acquistarono fama quali centri di villeggiatura e di sport invernali grazie alla valorizzazione, alle esercitazioni, alla permanenza dei Landesschützen.<br>
					Essi scalarono le vette circostanti, attraversarono i ghiacciai, allestirono campi e si addestrarono in manovre di ogni tipo nei dintorni di località alpine quasi ignote, dando i primi impulsi al loro sviluppo turistico; villaggi di montagna miserabili cominciarono a prosperare per merito dei tre reggimenti, che favorirono la formazione di guide alpine, maestri di sci, trasportatori, ristoratori ecc. 
					<br><br>
					Località oggi famose come il Passo Rolle, il Tonale, lo Stelvio, Madonna di Campiglio, furono «scoperte» dai Landesschützen, che per primi discesero con gli sci p. es. i declivi dei Gruppi del Brenta e delle Pale di San Martino su percorsi sfruttati attualmente per famose competizioni della FISI.<br><br>

					Attrezzi divenuti poi indispensabili e comuni per gli alpinisti furono realizzati ed introdotti per la prima volta dai Landesschützen; p. es. congegni per risalire una fune pendente, decantati come sensazionali pochi anni fa, erano in uso nelle unità austriache specializzate già nel 1912, così come barelle per il salvataggio da pareti verticali ecc.<br><br>

					Fin dal primo giorno della loro istituzione afﬂuirono ai Landesschützen numerosi i volontari da tutte le regioni montuose della monarchia e perciò, accanto al grosso dei tirolesi, nelle nuove truppe militavano pure giovani della Alta Austria, della Stiria, di Salisburgo, della Boemia e persino dell'Ungheria. <br>
					Fra i soldati con Fedelweiss regnava quel cameratismo leggendario che caratterizzava la vecchia armata di Radetzky. Il massimo riconoscimento i tre reggimenti l'ottennero dall'imperatore Carlo, che il 16 gennaio 1917 conferì loro il titolo onorifico di Kaiserschützen; quindi Landesschützen e Kaiserschützen si identificano.<br><br>

					Nel corso dell'addestramento alpino le unità di alta quota si familiarizzarono con tutta la zona montuosa al confine con l'ltalia, tanto d'estate quanto d'inverno. In un'epoca in cui le ascensioni estive ed invernali erano appena agli inizi, i Landesschützen compirono imprese alpinistiche ragguardevoli. P. es. nell'estate 1913 diverse compagnie in pieno assetto di guerra attraversarono tutto il Gruppo dell'Ortles da Sulden (Solda) a Peio in Val di Sole, salendo tutte le cime ghiacciate lungo il percorso, alzando un attendamento sul Cevedale ad oltre 3500 metri, facendo esercitazioni di salvataggio da crepacci, senza registrare il minimo incidente.<br><br>

					Da tale esempio vediamo l'altissimo grado di addestramento raggiunto da quella truppa già nel 1913. Moltissime reclute dopo la ferma di leva chiedevano un rinvio del congedo e diventavano <<ﬁrmaioli>›, trovandosi bene.<br>
					Il servizio nelle truppe di montagna era infatti interessante e molto vario; sciare, arrampicare, fare campi ed escursioni fra le Dolomiti o sull'Ortles era attraente, così come alloggiare nelle osterie alpine e non in caserme grige e deprimenti.
					<p>
						<ul  style="font-size: 13px">
							<li><a href="http://en.wikipedia.org/wiki/Kaisersch%C3%BCtzen" target="_blank"> wikipedia [ENG]</a></li>
						</ul>
					</p>
				</div>


		</div><!--/span-->
    </div><!--/row-->
    <%= render 'layouts/footer' %>
</div><!-- /fluid container-->