<div class="container-fluid">
	<div class="row-fluid">
		<%= render 'layouts/links' %>
		<div class="span10">
			<div>
				<iframe src="https://www.google.com/calendar/embed?src=kaiserschutzentrento%40gmail.com&ctz=Europe/Rome" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
			</div>
		</div><!--/span-->
	</div><!--/row-->
    <%= render 'layouts/footer' %>
</div><!-- /fluid container-->