<div class ="span12" id="title" style="padding-top: 5px">

                        <table style="margin: 0 auto">
                            <tr>
                                <td rowspan="2"><img src="./assets/img/austrunghst.gif" alt="austria" width="150" height="150" align="middle"></td>
                                <td style="padding-top: 9%; font-size: 30px; text-align: center; color: white">Keisersch&#252;tzen Trient
                                    <br>
                                    <img src="./assets/img/bildausgabe-small.png" alt="welshtirol" width="200" height="100" style="max-width: 40%" ></td>
                                    <td rowspan="2"><img src="./assets/img/bandiera-tirol.jpg" alt="tirolo" width="150" height="150" align="middle"> </td>
                                </tr>
                            </table>


                        </div>